@mixin link($hover) {
  text-decoration: none;
  color: $color-grey-dark-1;
  @if $hover == background-color {
    transition: cubic-bezier(0.59, 0.05, 0.7, 0.96) 0.2s;
    &:hover {
      background-color: rgba($color: $color-grey-light-3, $alpha: 0.3);
      border-radius: 3px;
    }
  } @else if $hover == underline {
    &:hover {
      text-decoration: underline;
    }
  } @else if $hover == text-color {
    &:hover {
      color: $color-grey-light-2;
    }
  }
}

@mixin btn-primary {
  font-weight: 700;
  font-size: $font-mini;
  text-transform: uppercase;
  color: #fff;
  padding: 5px $space-mini;
  background-color: $color-blue;
  border-radius: 5px;
  border: $border-dark;
  &:hover {
    background-color: $color-blue-dark;
    cursor: pointer;
  }
}

@mixin borderdouble($color) {
  border-bottom: 1px solid $color;
  position: relative;
  &::after {
    content: "";
    border-top: 1px solid $color;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 1.5px;
  }
}
